[submodule "deps/apclientpp"]
	path = deps/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
[submodule "deps/RE-UE4SS"]
	path = deps/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
